.call-to-action-3-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.call-to-action-3-image {
  width: 100%;
  height: auto;
  max-width: 700px;
}