@media (max-width: 460px) {
  .recent-posts-container {
    padding: 0 !important;
  }
}
.selected-label {
  background: #ebebeb !important;
}

#blog-wdiget-container {
  width: 100%;
  max-width: 1300px;
}
