* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

#logo-text {
  max-width: fit-content;
  text-decoration: none;
  color: #fff;
}

.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app-bar {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-us-button:not(.contact-us-button-blue) {
  color: #fff;
}

.contact-us-button-blue {
  & > .contact-us-extra {
    display: none;
  }
}

.hero-container {
  color: #fff;
  background: radial-gradient(89.7% 115.09% at 3.43% 2.75%, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
    radial-gradient(79.69% 102.24% at 100% 100.11%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), #002395;
  background-blend-mode: overlay, overlay, normal;
}

.invisable-header {
  background-color: transparent !important;
  box-shadow: none !important;
}

.white-header {
  color: #000 !important;
  background-color: #fff !important;
  box-shadow: none !important;

  #logo-text {
    color: #000 !important;
  }
}

.content {
  height: 1000px;
}

.content,
.app-bar-content {
  width: 100%;
  max-width: 1440px;
}

.landing-image {
  width: 100%;
}

.app-bar-content {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.service-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-norma {
  font-size: 30px;
}

.navigation-link {
  color: unset;
  text-decoration: none;
}

.navigation-buttons:hover {
  color: rgb(231, 87, 35);
}

.navigation-buttons:hover:after {
  width: 100%;
  content: "";
  position: absolute;
  background-color: #ed6c02;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 4px;
  transition: 0.3s;
}

.blue-text {
  color: #0691b8;
  word-wrap: break-word;
}

.ng-header {
  width: 70%;
  margin: 0 auto;
  margin-left: 14%;
}

.rich-text-1 {
  width: 80%;
  padding-left: 4%;
  padding-top: 3%;
  margin: 0 auto;
  color: #3f4751;
  height: 100px;
}

.text-rich {
  text-align: center;
  padding-left: 7%;
}

.link-icon {
  text-align: center;
  padding-left: 2%;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 40%;
}

.link--icon {
  color: #0b0c0d;
  font-weight: bold;
  text-underline-offset: calc(0.3em + 0.2rem);
}

a:after {
  transition: 0.3s;
}

a:hover {
  color: #737a82;
}

.icon-tile {
  flex: 1;
}

.rich-text-web {
  width: 45%;
  border: 1px solid #000;
}

.tiles-layout {
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 840px;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offices2 {
  width: 100%;
  height: 1000px;
}

.technologies {
  padding-left: 40%;
  padding-top: 2%;
}

.text {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.text2 {
  width: 100%;
  margin: auto;
  text-align: center;
}

.contact-us-button {
  margin-left: 5px !important;
}

#whatsapp-fab {
  background-color: #25d366;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: transform 0.2s;
}

#whatsapp-fab:hover {
  transform: scale(1.2);
}

#whatsapp-fab #whatsapp-icon {
  width: 30px;
  height: 30px;
}

.gray {
  color: #808080;
}
