.home-container {
  width: 100%;
  overflow: hidden;
}

.home-section {
  display: block;
  width: 100%;
  position: relative;
}

.home-section,
#about-us #testimonials {
  padding: 150px 0;
}

#aboutus2 {
  border-top: 2px solid rgba(136, 127, 127, 35%) ;
  border-bottom: 2px solid rgba(136, 127, 127, 35%) ;
  padding-top: 50px;
  padding-bottom: 50px;
}



.home-section:after {
  content: "";
  background: rgba(0, 0, 0, 0.12);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 80%;
}

.home-container {
  height: 74vw;
  position: relative;
}

.hero-text-container {
  padding: 0 120px;
  height: 100%;
  margin: auto;
  max-width: 1640px;
}

.hero-text {
  max-width: 800px;
  width: 60%;
  position: absolute;
  top: 20%;
  z-index: 2;
}

.laptop {
  width: 100%;
  max-width: 450px;
  position: absolute;
  top: 16%;
  right: 13%;
}

.subtext {
  max-width: 600px;
}

#home-wave-2 {
  bottom: -2px;
  position: absolute;
  width: 100%;
}

.home-content-wrapper {
  width: 100%;
}

.side-nav-wrapper {
  display: block;
  position: relative;
  width: 270px;
  padding-top: 60px;
  padding-bottom: 350px;
}

.side-nav {
  top: 200px;
  height: 200px;
  position: sticky;
}

.home-content-container {
  margin-top: 80px;
  width: 100%;
  display: flex;
  gap: 30px;
}

.side-nav-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-left: 1px solid #ed6c02;
}
.side-nav-button h5 {
  color: #c6c6c6;
}

.side-nav-visited,
.side-nav-button.Mui-selected {
  background-color: transparent !important;
  border-left: 3px solid #ed6c02 !important;
}

.side-nav-button.Mui-selected h5 {
  color: unset;
}

#contact-form-whatsapp-code {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  grid-gap: 150px;
  flex-wrap: wrap-reverse;
  margin-bottom: 50px;
}

.our-process-container {
  display: flex;
  gap: 50px;
  grid-gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 100px 0;
}

@media (max-width: 1640px) {
  .laptop {
    right: 10%;
  }
  .side-nav-wrapper {
    min-width: 200px;
  }
}

@media (max-width: 1500px) {
  .laptop {
    left: 800px;
  }

  .home-container {
    height: 70vw;
  }

  .title {
    font-size: 3.75rem !important;
  }

  .hero-text {
    margin-top: 35px;
  }
}

@media (max-width: 1250px) {
  .laptop {
    left: 750px;
    right: 900px;
  }
  .side-nav-wrapper {
    display: none;
  }
}

@media (max-width: 1200px) {
  .laptop {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 1200px) {
  .home-section {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .hero-container {
    height: 115vh;
  }

  .laptop {
    top: 15%;
    width: 400px;
  }

  .hero-text {
    text-align: center;
    top: 55%;
    max-width: 900px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contact-form-whatsapp-code {
    gap: 80px;
    grid-gap: 80px;
  }
}

@media (max-width: 600px) {
  .laptop {
    max-width: 360px;
    height: auto;
    width: 100%;
    margin-top: auto;
  }

  .hero-text {
    max-width: calc(100%);
    color: white;
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 2.5rem !important;
  }

  .subtext {
    font-size: 1.3rem !important;
    text-align: center;
  }
}

@media (max-width: 460px) {
  .hero-text {
    padding: 0 10px;
    top: 50%;
    left: 0;
    transform: translateY(1%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-container {
    top: 50%;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 35px !important;
  }

  .subtext {
    text-align: center;
    font-size: 18px !important;
  }
}

@media (max-width: 320px) {
  .hero-container {
    display: flex;
    flex-direction: column;
  }

  .laptop {
    max-width: 80%;
    left: 50%;
    transform: translateY(50%);
    transform: translateX(-50%);
  }

  .hero-text {
    top: 50%;
    left: 20%;
    text-align: center;
  }

  .title {
    left: 100%;
    transform: translateX(-20%);
  }

  .subtext {
    display: flex;
    transform: translateX(-20%);
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .contact-us-extra {
    display: none;
  }
}

@media (min-width: 840px) {
  .hamburger-menu {
    display: none !important;
  }
}

@media (min-width: 370px) {
  .small-text {
    display: none;
  }
}

@media (max-width: 370px) {
  .normal-text {
    display: none;
  }
}
