.service-view-header {
  margin-top: 120px;
  margin-bottom: 40px;
}

.service-view-content {
  margin-bottom: 140px;
}

.service-container-view svg {
  border-radius: 10px;
  padding: 10px;
}

.service-container-view.service-view-container-yellow svg {
  background-color: #fdda0d;
}

.service-container-view.service-view-container-black svg {
  background-color: #000;
}

.service-container-view.service-view-container-blue svg {
  background-color: #0035e2;
}

.service-container-view.service-view-container-purple svg {
  background-color: #7c00dd;
}
