#sitemap-container {
  margin-top: 160px;
  margin-bottom: 160px;
}

.sitemap-page-link {
  color: #0035e2;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sitemap-page-icon {
    color: #000 !important;
    min-width: 30px !important;
}