#published-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 30px;
  grid-gap: 30px;
}

#published-text-wrapper-container {
  width: fit-content;
}

#blog-post-image-wrapper {
  display: flex;
  flex-direction: column;
}

#published-text {
  background-color: #f5f5f5;
  width: fit-content;
  padding: 10px;
}

.blog-post-image {
  max-width: 65%;
}

#blog-post h1 {
  margin: 0;
  font-weight: 300;
  font-size: 96px; /* 6rem to px */
  line-height: 1.167;
  letter-spacing: -0.01562em;
  margin-bottom: 24px;
}

#blog-post h2 {
  margin: 0;
  font-weight: 300;
  font-size: 60px; /* 3.75rem to px */
  line-height: 1.2;
  letter-spacing: -0.00833em;
  margin-bottom: 24px;
}

#blog-post h3 {
  margin: 0;
  font-weight: 400;
  font-size: 48px; /* 3rem to px */
  line-height: 1.167;
  letter-spacing: 0em;
  margin-bottom: 24px;
}

#blog-post h4 {
  margin: 0;
  font-weight: 400;
  font-size: 34px; /* 2.125rem to px */
  line-height: 1.235;
  letter-spacing: 0.00735em;
  margin-bottom: 24px;
}

#blog-post h5 {
  margin: 0;
  font-weight: 400;
  font-size: 24px; /* 1.5rem to px */
  line-height: 1.334;
  letter-spacing: 0em;
  margin-bottom: 24px;
}

#blog-post p {
  margin: 0;
  font-weight: 400;
  font-size: 20px; /* 1rem to px */
  line-height: 1.5;
  letter-spacing: 0.00938em;
  margin-top: 24px;
}

#blog-post h1 {
  margin: 0;
  font-weight: 300;
  font-size: 96px; /* 6rem to px */
  line-height: 1.167;
  letter-spacing: -0.01562em;
  margin-bottom: 24px;
}

#blog-post h2 {
  margin: 0;
  font-weight: 300;
  font-size: 60px; /* 3.75rem to px */
  line-height: 1.2;
  letter-spacing: -0.00833em;
  margin-bottom: 24px;
  margin-top: 56px;

}

#blog-post h3 {
  margin: 0;
  font-weight: 400;
  font-size: 48px; /* 3rem to px */
  line-height: 1.167;
  letter-spacing: 0em;
  margin-bottom: 24px;
  margin-top: 56px;

}

#blog-post h4 {
  margin: 0;
  font-weight: 400;
  font-size: 34px; /* 2.125rem to px */
  line-height: 1.235;
  letter-spacing: 0.00735em;
  margin-bottom: 24px;
  margin-top: 56px;

}

#blog-post h5 {
  margin: 0;
  font-weight: 400;
  font-size: 24px; /* 1.5rem to px */
  line-height: 1.334;
  letter-spacing: 0em;
  margin-bottom: 24px;
  margin-top: 56px;

}

#blog-post p {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  margin-top: 24px;
}

#blog-post ul,
#blog-post ol {
  margin-left: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

#blog-post li {
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin-bottom: 0.35em;
}

#blog-post-image-wrapper {
  display: flex;
  justify-content: center;
}

#published-top-section {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  #published-top-section {
    flex-direction: column;
  }

  .blog-post-image {
    max-width: 100%;
  }
}
