#mission-statement {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#mission-statement-content {
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 70px;
  grid-gap: 70px;
}

#mission-statement-content-image,
#mission-statement-content-text {
  flex: 1 1 50%;
}

#mission-statement-content-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  grid-gap: 50px;
}

#mission-statement-content-text-description {
  text-align: justify;
}

#team-image {
  max-width: 541px;
}

@media (max-width: 960px) {
  #mission-statement-content {
    flex-wrap: wrap-reverse;
  }
  #mission-statement-content,
  #mission-statement-content-text-description {
    text-align: center;
  }
  #mission-statement-content,
  #mission-statement-content-text {
    gap: 50px;
    grid-gap: 50px;
  }
}
