#cta-whatsapp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#cta-whatsapp-text {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  grid-gap: 100px;
}

#cta-whatsapp-code-wrapper {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
}

#cta-whatsapp-text-highlight {
  color: #1672ec;
}

#cta-whatsapp-team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  grid-gap: 20px;
}

#cta-whatsapp-text-link {
  width: 139px;
}

#cta-mobile-link {
  display: none;
}

@media (max-width: 1200px) {
  #cta-whatsapp {
    justify-content: center;
    gap: 150px;
    grid-gap: 150px;
  }
  #cta-whatsapp-text,
  #cta-whatsapp-code {
    flex: unset;
  }

  #cta-whatsapp-text {
    text-align: center;
  }

  #cta-whatsapp-team {
    display: none;
  }

  #cta-mobile-link {
    display: block;
  }
}

@media (max-width: 960px) {
  #cta-whatsapp {
    gap: 120px;
    grid-gap: 120px;
  }
}
